{
  "presets": [
    ["env", {
      "targets": {
        // The % refers to the global coverage of users from browserslist
        "browsers": [ ">0.25%", "not ie 11", "not op_mini all"]
      }
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-function-bind",
    "transform-runtime",
  ]
}
