.balance {
  display: flex;
  align-items: center;
  &-val {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3.4px;
    color: $primary;
    margin-right: 15px;
    line-height: 55px;
  }
  &-ttl {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: auto;
  }
  button:last-child {
    margin-left: 15px;
  }
}
