.setup-warn {
  max-width: 550px;
  margin-bottom: 32px;
}

.setup-desc {
  margin-bottom: 34px;
  margin-top: 31px;
}

.setup-label {
  margin-bottom: 23px;
}
.setup-switch {
  margin-bottom: 15px;
}
