$primary: #00FFAD;
$black: #000;
$white: #fff;
$grey: #202020;
$grey2: #505050;
$light-grey: #c4c4c4;
$light-grey2: #979797;
$error: #F71EF4;
$border-color: rgba($light-grey2, .5);
$success-border: #0E4835;
$error-border: rgba($error, .35);
$warning: #FFC617;
